  //========================
  //      VARIABLES
  // ======================
  $bg_black:#242424;
  $bg_white:#ffffff;
  $bg_footer:#2e2e2e;
  $color_logo:#57c5a0;
  $bg_main:#ebe7df;
  $info_item:#dfdbd4;
  $size_vh:1vw;
  $br2:solid 2px $bg_footer;
  $br1:solid 1px $bg_footer;
